<div class="center hero-unit">

	<h1>blittered</h1>
	<%= link_to image_tag("working_logo.jpg", alt: "blittered"), 'https://twitter.com/belozi' %>
	<h2>
		This is the homepage for the new app that I'm developing
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>



