<footer class="footer">
	<small>
		<a href="https://twitter.com/belozi">@belozi</a>
		Robert Belozi Lee
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",		about_path %></li>
			<li><%= link_to "Contact",		contact_path %></li>
			<li><a href="https://www.linkedin.com/profile/view?id=89415430&trk=nav_responsive_tab_profile">LinkedIn</a></li>
		</ul>
	</nav>
</footer>